# Verify settings
[*.{received,verified}.{txt,xml,json}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false

[*.cs]
# Allow underscores in test method names
dotnet_diagnostic.CA1707.severity = none

# Don't complain about expression syntax vs block body syntax
dotnet_diagnostic.IDE0022.severity = none

# Ignore namespace declaration warning
dotnet_diagnostic.IDE0160.severity = none

[{JsonTests.cs,XmlTests.cs}]
# Allow skipping tests for demo purposes
dotnet_diagnostic.xUnit1004.severity = none
